# Do not copy CMAKE stuff. Compile in image instead
**/build
**/install
**/log

# No reason to have this
.gitignore
feb_installation.bash
# feb_lidar_setup.bash
LICENSE
README.md
Dockerfile
build.log

# Other junk
**/.vscode
**/__pycache__