# This workspace contains LiDAR drivers, NEVER PUSH!
lidar_ws

# Don't push COLCON created stuff
build/
install/
log/

# Don't push YOLO models!!
*.pt

# Don't push pycaches
__pycache__/

# Each person should make their own setup...
.vscode/

# No Docker logs
build.log

# No CasADi, except the installation script and COLCON_IGNORE
casadi_src/*
!casadi_installer.sh
!COLCON_IGNORE