# This workspace contains LiDAR drivers, NEVER PUSH!
lidar_ws

# Don't push COLCON created stuff
build/
install/
log/

# Don't push YOLO models!!
*.pt

# Don't push pycaches
__pycache__/

# Each person should make their own setup...
.vscode/

# No Docker logs
build.log

# No CasADi, except the installation script and COLCON_IGNORE
casadi_src/*
!casadi_installer.sh
!COLCON_IGNORE

# No Virtual Environements
venv/

# No solver created Code
global_opt.c
global_opt.so

# simulator
eufs_msgs/
eufs_sim/

delta_and_heading
